:import('../../../constants.css') {
  button-radius: button-radius;
  corner-radius: corner-radius;
  plum-cyan: plum-cyan;
  plum-skyblue: plum-skyblue;
  white: white;
  grey: grey;
  blue-gradient: blue-gradient;
  spacing-small: spacing-small;
  spacing-tiny: spacing-tiny;
  spacing-big: spacing-big;
  base-transition: base-transition;
  text-light: text-light;
  text-bold: text-bold;
  hover-shadow: hover-shadow;
  active-shadow: active-shadow;
}

:root {
  --button-radius: button-radius;
  --corner-radius: corner-radius;
  --plum-cyan: plum-cyan;
  --plum-skyblue: plum-skyblue;
  --white: white;
  --grey: grey;
  --blue-gradient: blue-gradient;
  --spacing-small: spacing-small;
  --spacing-tiny: spacing-tiny;
  --spacing-big: spacing-big;
  --base-transition: base-transition;
  --text-light: text-light;
  --text-bold: text-bold;
  --hover-shadow: hover-shadow;
  --active-shadow: active-shadow;
}

/* Base style for btn */

:local(.btn) {
  border: none;
  outline: none;
  border-radius: var(--button-radius);
  color: var(--white);
  background-color: var(--plum-skyblue);
  font-weight: var(--text-bold);
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  padding: var(--spacing-small) 0 var(--spacing-small) 0;
  overflow: hidden;
}

:local(.btnLabel) {
  padding: 0 var(--spacing-big) 0 var(--spacing-big);
}

:local(.btn):hover {
  transition: background-color var(--base-transition);
  background-color: var(--plum-cyan);
}
  
/* Filter button style */

:local(.btnFilter) {
  transition: max-height var(--base-transition);
  box-shadow: var(--hover-shadow);
}

:local(.btnLabel) > i {
  margin-left: var(--spacing-big);
  transform: rotate(0deg);
  transition: transform var(--base-transition);
}

:local(.rotate) {
  transform: rotate(180deg) !important;
}

:local(.btnFilter.btnFilterActive) {
  animation: btnFilterAnimation 0.3s ease-in-out forwards;
  max-height: 12.75rem;
  box-shadow: var(--active-shadow);
}

:local(.list) {
  text-align: left;
  font-size: 1rem;
  font-weight: var(--text-light);
  list-style-type: none;
  padding: var(--spacing-small) 0 0 0;
  margin: 0;
}

:local(.listItem) {
  transition: background var(--base-transition);
  padding: var(--spacing-tiny) 0 var(--spacing-tiny) var(--spacing-big);
}

:local(.listItem):hover {
  background: rgba(255, 255, 255, 0.2);
}

:local(.listItem):active {
  background: rgba(255, 255, 255, 0.6);
}

@keyframes btnFilterAnimation {
    from {
      border-radius: var(--button-radius);
      min-height: 0rem;
    }
    to {
      background: linear-gradient(var(--plum-cyan), var(--plum-skyblue));
      border-radius: var(--corner-radius);
      max-height: 12.75rem;
    }
}

/* Search button style */

:local(.btnSearch) {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--grey);
  font-size: 1rem;
  opacity: 1;
  transition: opacity var(--base-transition);
}

:local(.searchActive) {
  opacity: 0;
}

:local(.inputActive) {
  animation: btnSearchAnimation 0.3s ease-in-out forwards;
}

@keyframes btnSearchAnimation {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 100%;
      opacity: 1;
    }
}
