:export {
  /* colors */
  background-white: #f5f3f1;
  text: #1e1e24;
  white: #ffffff;

  /* Text & Font */
  text-light: 300;
  text-regular: 400;
  text-bold: 700;

  /* Boundaries */
  spacing-tiny :  0.25rem;
  spacing-small: 0.5rem;
}