:import('./constants.css') {
  background-white: background-white;
  text: text;
  text-light: text-light;
  text-bold: text-bold;
  spacing-tiny: spacing-tiny;
}

:root {
  --background-white: background-white;
  --text: text;
  --text-light: text-light;
  --text-bold: text-bold;
  --spacing-tiny: spacing-tiny;
}

/* General Styling */

body {
  font-family: 'Muli', sans-serif;
  font-weight: var(--text-light);
  font-size: 16px;
  color: var(--text);
  background-color: var(--background-white);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-weight: var(--text-bold);
  font-size: 1.5rem;
  margin: 0 0 var(--spacing-tiny) 0;
}

p {
  margin: 0;
}

/* Utils Class */

.italic {
  font-style: italic;
}
