:import('../../../constants.css') {
  corner-radius: corner-radius;
  white: white;
  grey: grey;
  rest-shadow: rest-shadow;
  hover-shadow: hover-shadow;
  text-bold: text-bold;
  spacing-small: spacing-small;
  spacing-tiny: spacing-tiny;
  spacing-big: spacing-big;
  base-transition: base-transition;
}

:root {
  --corner-radius: corner-radius;
  --white: white;
  --grey: grey;
  --rest-shadow: rest-shadow;
  --hover-shadow: hover-shadow;
  --text-bold: text-bold;
  --spacing-small: spacing-small;
  --spacing-tiny: spacing-tiny;
  --spacing-big: spacing-big;
  --base-transition: base-transition;
}

:local(.transaction) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: var(--white);
  border-radius: var(--corner-radius);
  text-align: left;
  padding: var(--spacing-big);
  font-size: 1rem;
  box-shadow: var(--rest-shadow);
  transition: var(--base-transition);
}

:local(.transaction):hover {
  box-shadow: var(--hover-shadow);
}

:local(.amount) {
  text-align: right;
  font-weight: var(--text-bold);
}

:local(.appear) {
  animation: itemAppear 0.6s ease-in-out;
}

@keyframes itemAppear {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}
